.list {
  .at-form {
    padding: 40rpx;
  }
  .at-card-header__title,
  .at-card-header__extra {
    white-space: normal !important;
  }
  .at-card-content{
    padding: 0
  }
  .at-card {
    margin-bottom: 40rpx;
    overflow:hidden;
  }
  .error {
    .not {
      border: 2PX solid #f44336;
    }
  }
  .submitBtn {
    width:90%;
    margin-bottom:20rpx;
  }
}
