.index {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .introImg {
    flex: auto;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .form-index--at-form::after {
    border: none;
  }
  .at-form::after {
    border: none;
  }
  .title {
    font-size: 1.2rem;
    margin: 10rpx 50rpx 20rpx;
    color: #006e6a;
  }
  .intro {
    color: tint(#006e6a);
  }
  .avatar {
    width: 160rpx;
    height: 160rpx;
    border-radius: 50%;
    margin-bottom: 50rpx;
  }
  .info {
    // position: absolute;
    // bottom: 200rpx;
    // text-align: center;
    // width: 90%;
    // margin: 0 auto;
    // left: 0;
    // right: 0;
  }
  .submitBtn {
    margin: 40rpx;
  }
  .button-index--submitBtn {
    margin: 40rpx;
  }
  .form-index--at-form {
    padding: 40rpx 60rpx;
  }
  .at-form {
    padding: 40rpx 60rpx;
  }
  .at-button--primary,
  .button-index--at-button--primary {
    background-color: #006e6a;
    color: #fff;
    border: 1px solid #006e6a;
  }
}
