.success {
  text-align: center;
  height: 100vh;
  .btn-item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20rpx;
  }
  .bgImg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .title {
    padding: 40rpx;
    font-size: 18PX;
  }
  .scancode {
    position:absolute;
    top:25%;
    left:0;
    right:0;
  }
}
